<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
<h1> Страница книги</h1>
<p th:text="${book.get().getName() + ', ' + book.get().getAuthor()+ ', ' + book.get().getYear() }">VALUE</p>

<div th:if="${owner}">
    <span> Книга сейчас у:</span> <span th:text="${owner.getName()}"> Person name</span>
    <form th:method="POST" th:action="@{/books/{id}/untouched(id=${book.get().getId()})}">
        <input type="submit" value="Освободить книгу">

    </form>


</div>

<div th:if="${people}">
<span> Эта книга свободна. Кому назначить ее?</span>

    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.get().getId()})}"th:object="${book.get()}">
        <label for="person"> Выберите человека:</label>
        <select th:object="${person}" th:field="*{person_id}" id="person">

            <option th:each="person : ${people}" th:value="${person.getPerson_id()}" th:text="${person.getName()}"></option>
        </select>

        <input type="submit" value="Назначить книгу"/>
    </form>
</div>






<hr/>
<br>

<a th:href="@{{id}/edit(id=${book.get().getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.get().getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>